page-silent {
  .geofence-input-list {
    margin-bottom: 15px;
  }
  .geofence-radius-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    .geofence-radius-input-container {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      input {
        width: 100%;
      }
    }
  }
  .map-container {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .speed {
    position: absolute;
    border: 5px solid brown;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    top: 0;
    right: 0;
  }
}
